.stjoseph__header{
    display: flex;
    flex-direction: row;
    padding: 0rem 6rem;
    background: var(--color-bg);
}

.stjoseph__header_content{
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.stjoseph__header_content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.stjoseph__header_content p{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 0rem;
}
.stjoseph__header_content__input button{
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #ff4820;
    font-family: var(--font-family);
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
}
.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stjoseph__header_image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stjoseph__header_image img{
    width: 100%;
    height: 100%;
    transform: scale(0.96);
}

.home__possibility {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 6rem;
    background-color: rgb(247, 247, 247);
}
.home__possibility_image{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.home__possibility_image_tag{
    border-radius: 2%;
}
.home__possibility_content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.home__possibility_content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #207586;
}

.home__possibility_content h4:last-child {
    color: #ff8A71;
}

.home__possibility_content h1 {
    font-family: var(--font-family);
    color: var(--color-text);
    font-weight: 800;
    font-size: 39px;
    line-height: 45px;
    margin: 1rem 0;
}

.home__possibility_content p {
    color: black;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    margin-bottom: 2rem;
}

.stjoseph__brand_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding-top: 40px;
    padding: 20px;
    /* margin: 4rem 0 2rem; */
    font-family: var(--font-family);
    padding: 0 8em;
    background-color: rgb(247, 247, 247);
}
.stjoseph__blog_container__article{
    background-color: rgb(247, 247, 247);
}
.stjoseph__blog_container__article_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stjoseph__blog_container__article_content p{
    color: black;
}
.stjoseph__blog_container__article_content h3{
    color: black;
    margin-top: 0%;
}
.stjoseph__brand_container h1{
    font-family: var(--font-family);
    color: var(--gradient-bar);
    font-size: 42px;
    margin-top: 45px;
}
.stjoseph__brand_container p{
    color: rgb(0, 0, 0);
    font-size: 20px;margin-bottom: 35px;
    margin-top: 15px;
}
.stjoseph__brand_container_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
}
.stjoseph__brand_container_cards img{
    border-radius: 50%;

}
.stjoseph__brand_container_cards p{
    color: rgb(20, 20, 20);
}
.stjoseph__brand_container_cards h3{
    /* margin-top: 235px; */
}

.stjoseph__facebook_container{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7),rgba(5, 6, 7, 0.8)),url("https://images.unsplash.com/photo-1592818868295-f527dbac420d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.stjoseph__facebook_container h1 {
    text-align: center;
    font-size: 3rem;
}

.stjoseph__facebook_wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.stjoseph__facebook_container .stjoseph__facebook_wrapper iframe{
    /* width: 200px; */
    /* height: 600px; */
    color: white;
    padding: 2rem;
}


.stjoseph__brand_row{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;}
.stjoseph__brand_facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.stjoseph__brand_facilities_col{
    flex-basis: 22%;
    border-radius: 10px;
    /* margin-bottom: 5%; */
    text-align: left;
}
.stjoseph__brand_facilities_col img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}
.stjoseph__brand_facilities_col p{
    padding: 0;
}
.stjoseph__brand_facilities_col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    text-align: left;
    color: rgb(247, 247, 247);
}
/* .church__timing{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(5, 6, 7, 0.8)),url(/Palayam.jpg);
    display: flex;
    flex-direction: row;
    width: 70%;
    box-sizing: border-box;
    height: 80vh;
    padding: 0;
} */

.church__features_container__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    overflow: hidden;
    margin: 1rem;
}

.church__features_container__feature_title {
    flex: 1;
    max-width: 200px;
    margin-right: 3rem;
}

.church__features_container__feature_title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
}

.church__features_container__feature_title div {
    width: 68px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0.5rem;
}

.church__features_container_feature_text {
    flex: 2;
    display: flex;
    flex-direction: column;
    max-width: 490px;
    display: flex;
}

.church__features_container_feature_text .text1{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
}


.church__features_container_feature_text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
}

.image_div img{
    width: 70%;
    height: 600px;

}
.church__timing {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(5, 6, 7, 0.8)),url(/assets/Palayam.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* position: fixed; */
    right: 0;
    left: 0;
    /* height: 600px; */
    width: 100%;
    align-content: center;
    align-items: center;
}
.church__timing-feature 
{
    display: flex;
    flex-direction: row;
}

.church__timing-feature .church__features_container__feature {
    margin: 0;
    max-width: 20px;
}

.church__timing-feature .church__features_container_feature_text {
    max-width: 700px;

}

.church__timing_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 0.5rem 0 1rem;
}

.church__timing_heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}
.church__timing_heading p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: var(--color-subtext);
    max-width: 510px;
    cursor: pointer;
}

.church__timing_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 4;
    min-width: 0;
    margin-top: 2rem;
    justify-content: space-between;
    align-content:center;
}

.church__features_container__feature {
    display: flex;
    flex-direction: column;
    margin: 0 6rem;
    max-width: 160px;
}

.church__features_container_feature_text {
    margin-top: 0.5rem;
    min-width: 40%;

}
.church__timing_contained{
  
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 850px) {
    .church__timing_heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .church__timing_heading p {
        margin-top: 1rem;
    }
    .church__timing_container {
        margin-left: 0em;
        flex-direction: column;


}
.church__features_container__feature-text{
    margin-bottom: 3em;

}
.church__features_container__feature{
    margin: 1rem 0;
}
.church__timing_contained{
    flex-direction: row;
    justify-content: space-between;

}
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .church__timing-feature .church__features_container__feature {
        flex-direction: column;
        margin-bottom: 20px;
        
    }

    /* Customizing feature component as per needs */
    .church__timing-feature .church__features_container_feature_text {
        margin-top: -0.5rem;
    }

    .church__timing_heading h1 {
        font-size: 28px;
        /* line-height: 40px; */
    }
    .church__timing_container .church__features_container_feature_text {
        font-size: 18px;
    
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .church__timing_container .church__features_container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .church__features_container__feature {
        margin: 1rem 0;
        flex-direction: column;
    }
    .church__features_container__feature_title h1 {
        font-size: 16px;
        line-height: 22px;
    }

    .church__features_container_feature_text p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 550px) {
    .church__features_container__feature_title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .church__features_container_feature_text p {
        font-size: 12px;
        line-height: 20px;
    }

    .church__features_container__feature {
        margin: 1rem 0;
    }
}
@media screen and (max-width: 1680px) {
    .stjoseph__brand_facilities_col h3{
        font-size: 15px;
    }
    .stjoseph__brand_container_cards{

        grid-template-columns: repeat(3, 1fr);
}}
@media screen and (max-width: 1080px) {
    .stjoseph__brand_facilities_col h3{
        font-size: 15px;
    }
    .stjoseph__brand_container_cards{

        grid-template-columns: repeat(2, 1fr);
}}

@media screen and (max-width: 850px) {
    /* Customizing feature component as per needs */
    .stjoseph__brand_row{
        flex-direction: column;
    }
    .stjoseph__brand_container_cards{
        padding: 5rem 1rem;
        grid-template-columns: repeat(1, 1fr);
}   
    .stjoseph__blog_container__article_image img{
        width: 300px;
        height: 300px;
    }

    /* Customizing feature component as per needs */
    .stjoseph__brand_facilities_col .stjoseph__blog_container__article_content h3{
        margin-top: 55px;
    }
  
    .stjoseph__brand_container_cards p{
        margin-top: -5px;
        font-size: 12px;
    }

    .gpt3__whatgpt3_heading h1 {
        font-size: 28px;
        line-height: 35px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .gpt3__whatgpt3_container .gpt3__features_container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}

@media screen and (max-width: 1550px) {
    .home__possibility {
        flex-direction: column-reverse;
    }

    .home__possibility_image {
        margin: 1rem 0;
        align-content: center;
        align-items: center;
    }

    .home__possibility_image_tag {
        width: 320px;
        height: 200px;
    }

    .home__possibility_content {
        margin-top: 2rem;
    }
    .home__possibility_image_tag {
        width: 80%;
        height: 80%;
        align-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .home__possibility{
        padding: 0rem 2rem;
    }
    .home__possibility_image_tag {
        width: 320px;
        height: 300px;
    }
    .home__possibility_content p{
        font-size: 15px;
    }
}
@media screen and (max-width: 1050px){
    .stjoseph__header{
        flex-direction: column;
    }
    .stjoseph__header_content{
        margin: 0 0 3rem;
    }
}
@media screen and (max-width: 950px){
    .stjoseph__header h1{
        font-size: 34px;
        line-height: 60px;
    }
    .stjoseph__header p{
        font-size: 12px;
        line-height: 24px;
    }
    .stjoseph__header_content{
        margin: 0 0 3rem;
    }
    .stjoseph__header_image{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-bottom: 20px; */
        /* margin-top: -60px; */
        /* margin-right: -35px; */
    }
    .stjoseph__header_image img{
        width: 100%;
        height: 100%;
        transform: scale(0.90);
    }

    
}
@media screen and (max-width: 490px){
    .stjoseph__header{
        padding: 0rem 1.2rem;
    }
    .stjoseph__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    .stjoseph__header p{
        font-size: 14px;
        line-height: 22px;
    }
    .stjoseph__header_content{
        margin: 0 0 3rem;
    }

    
}