.post_container{
    padding: 2rem 4rem;
}

.post_wrapper{
    display: flex;
    justify-content: space-between;
}

.post_banner Image{
    background-size: cover;
    width: 100%;
}

.post_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.post_tag{
    background-color: rgb(0, 119, 255);
    padding: 1rem;
}

.post_leftwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}