.stjoseph_updates_container{
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;

}

.stjoseph_updates_cards{
    margin: 1rem 1rem;
    padding: 1rem 2rem;
    width: 40vw;
    background-color: rgb(250, 249, 249);
    border-radius: 10px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
}

.stjoseph_updates_minicards{
    width: 20rem;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    background-color: rgb(198, 210, 233);;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.stjoseph_updates_minicards:hover{
    box-shadow: 6px 3px 23px -8px rgba(0,0,0,0.6);

}

.stjoseph_updates_cards:hover{
    box-shadow: 6px 3px 23px -8px rgba(0,0,0,0.6);
}

.stjoseph_updates_updates{
    flex: 1;
}

.stjoseph_updates_news{
    /* text-align: left; */
    flex: 1;
    margin-right: 200px;
}

.stjoseph_updates_unit{
    text-align: left;
    flex: 1;
}

.paginate{
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.paginate li a{
    padding: 8px;
    font-weight: 500;
    border-radius: 5px;
}

.paginate li a:hover{
    color: blue;
    transition: 0.5s;
    cursor: pointer;
    /* padding: 8px; */
}

.activeLink{
    color: blue;
    background-color: white;
    border: 1px solid black;
    height: 20px;
    width: 20px;
}

.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    text-align: center;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stjoseph_updates_image{
    border-radius: 10px;
}


.updatesGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 700px)  {
    .updatesGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .stjoseph_updates_cards{
        width: auto;
    }

    .stjoseph_updates_image{
        width: 150px;
        height: 150px;
    }

    .stjoseph_updates_container{
        display: flex;
        justify-content: space-between;
        padding: 0 ;
    
    }

} 

