.stjoseph_updates_container{
    background-image: linear-gradient(0deg, rgba(8, 8, 8, 0.3), rgba(0, 0, 0, 0.3)), url(https://wallpaperaccess.com/full/1688207.jpg);
    display: flex;
    background-size: cover;
    justify-content: space-between;
    padding: 0 8rem;
}

.stjoseph_updates_cards{
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    width: 45vw;
    background-color: rgb(250, 249, 249);
    border-radius: 10px;
    transition: 0.5s;
}
.stjoseph_updates_cards:hover{
    box-shadow: 6px 3px 23px -8px rgba(0,0,0,0.6);
}

.stjoseph_updates_updates{
    flex: 1;
}

.stjoseph_updates_news{
    /* text-align: left; */
    flex: 1;
    margin-right: 200px;
}

.stjoseph_updates_unit{
    text-align: left;
    flex: 1;
}

.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    margin-right: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stjoseph_updates_news_title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowButton{
    color: gray; 
    height:'25px';
}


@media screen and (max-width: 700px)  {
    .updatesGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .stjoseph_updates_cards{
        width: auto;
    }

    .stjoseph_updates_image{
        width: 150px;
        height: 150px;
    }

    .stjoseph_updates_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 ;
    
    }
    .stjoseph_updates_news{
        margin-right: 0;
    }
    .stjoseph_gallery_container{
        overflow: hidden;
    }
    

} 

